{include ./system/view/default/html/header.html}
{include ./system/view/default/html/admin_header.html}

<h1>Editor</h1>
<h2>{$editor->contentType}: {if $editor->fileURL}{$editor->fileURL}{else}new file{endif}</h2>

<form method="post" action="admin_editor.php?action=edit&amp;type={$editor->contentType}{if $editor->fileURL}&amp;file={$editor->fileURL.ignoreContext()}{endif}">
    {if $editor->contentType != "blog"}
    <input name="fileName" type="text" value="{$editor->fileName}" width="100" />.md
    <br />
    {endif}
    {if $editor->contentType == "blog"}
    <input type="checkbox" name="isSticky" value="isSticky" {if $editor->isSticky}CHECKED{endif}/> Sticky
    <br />
    {endif}
    <textarea rows="20" cols="100" name="content">{if $editor->content}{$editor->content}{endif}</textarea>
    <br />
    <button type="submit">Save</button>
</form>

{include ./system/view/default/html/footer.html}
