{include ./system/view/default/html/header.html}

<p>{$headerText.ignoreContext()}</p>
{if $projects}
	{loop $project in $projects}
		{if $project->iconPath}
			<img src="{$project->iconPath.ignoreContext()}" /><br />
		{endif}
			<h2>{$project->title}</h2>
			<p>{$project->description}</p>
				{if $project->downloadLinks}
					{loop $downloadLink in $project->downloadLinks}
						<a href="{$downloadLink->link.ignoreContext()}" target="_blank" id="download">Download via {$downloadLink->type}</a>
					{endloop}
				{endif}
		<hr />
	{endloop}
{else}
	<h2>No projects yet</h2>
	<p>It seems as if {$siteVars->company} did not post any posts yet.</p>
{endif}

<p>{$footerText.ignoreContext()}</p>

{include ./system/view/default/html/footer.html}