{include ./system/view/NW2019/html/header.html}

<div class="contentContainer">
	<h1>Upload New Content</h1>
	<form method="post" enctype="multipart/form-data" action="upload.php">
		<select name="type">
			<option value="post">Post</option>
			<option value="page">Page</option>
		</select>
		<input type="text" name="release" placeholder="19.02.1990" />
		<input type="file" name="file" />
		<input type="password" name="password" placeholder="Password"/>
		<button type="submit">Send</button>
	</form>
</div>

{include ./system/view/NW2019/html/footer.html}