{include ./system/view/NW2021/html/header.html}

{if $post != false}
	<div class="postsContainer">
		<div class="title">
			<span class="headline"># {$post.title}</span><br />
			<span class="meta">{$post.date}</span>
		</div>
		<div class="message">
			<p>{$post.body.ignoreContext()}</p>
		</div>
	</div>
{else}
	<div class="postsContainer">
		<div class="title">
			<span class="headline"># It's empty here...</span>
		</div>
		<div class="message">
			<p>The blog post you were looking for does not exist.</p>
		</div>
	</div>
{endif}

{include ./system/view/NW2021/html/footer.html}