{include ./system/view/NW2021/html/header.html}
{if $projects}
	{loop $project in $projects}
		<div class="postsContainer">
			<div class="title">
				<span class="headline"># {$project->title}</span>
			</div>
			<div class="message">
				<p>{$project->description}</p>

				{if $project->downloadLinks}
					{loop $downloadLink in $project->downloadLinks}
					<a href="{$downloadLink->link.ignoreContext()}" target="_blank" class="download">{$downloadLink->type}</a>
					{endloop}
				{endif}
			</div>
		</div>
	{endloop}
{else}
	<div class="contentContainer">
		<h2>No projects yet</h2>
		<p>It seems as if {$siteVars->company} did not post any posts yet.</p>
	</div>
{endif}
<div class="bigText">
	<div>There are some more projects over at <a href="https://www.github.com/nitricware" target="_blank">GitHub</a> that were not mentioned here. Also, I’m a hobby photographer. You can see my work on <a href="https://www.flickr.com/vcrtheater" target="_blank">Flickr</a> or <a href="https://www.500px.com/vcrtheater" target="_blank">500px</a>. There’s also a <a href="https://www.twitter.com/nitric_ware" target="_blank">Twitter</a> Account where I post on programming topics. Finally, I release videos on <a href="https://www.youtube.com/channel/UCe7hDLXUQnfrZY62RGdaeeA" target="_blank">YouTube</a> every now and then.</div>
</div>
{include ./system/view/NW2021/html/footer.html}